body{
    background: linear-gradient(#764AF1,#F2F2F2) ;
}

#btnC{
    border-radius: 20%;
    font-size: 1rem;
}
#btnC:hover{
    margin-top: 100px;
    border-radius: 5%;
    background-color: azure;
    color:#764AF1 ;
    font-size: 1rem;
    transition: 0.4s;
}
p{
    color:#F2F2F2 ;
    font-size: 1.5rem;
}
p:hover{
    font-size: 2rem;
    transition: 0.3s;
}
h1{
    color: #fff;
}
span img{
    width:10vw;
    border-radius: 25%;

}

#show_sketch{
    position: fixed;
   
    
}
#show_sketch:hover{
    border-radius: 5%;
    background-color: azure;
    color:#764AF1 ;
  
    transition: 0.4s;
}
#image{
    width: 15vw ;
    height: 15vh;
}
/* code from now */
canvas
{
    border:5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s ;
    margin-top: 50px;
   animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px grey}
    to {box-shadow: 1px 1px 38px white;}
}
